Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

title
  docs/docs/Usage/private_root.md
Labels: documentation

title
  docs/docs/Usage/private_root.md
Labels: documentation

note
  docs/docs/Usage/private_root.md
Labels: documentation

note
  docs/docs/Usage/private_root.md
Labels: documentation

note
  docs/docs/Usage/private_root.md
Labels: documentation

note
  docs/docs/Usage/private_root.md
Labels: documentation

migrated new t3 stack
  package-lock.json
  package.json
  src/app/[locale]/(authenticated)/layout.tsx
  src/app/[locale]/(authorized)/layout.tsx
  src/app/[locale]/(public)/auth/login/page.tsx
  src/app/[locale]/(public)/layout.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/api/trpc/[trpc].ts
  src/app/api/trpc/[trpc]/route.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/styles/globals.css
  src/auth/helpers.ts
  src/auth/index.ts
  src/components/auth/credentialsForm.tsx
  src/components/auth/welcomeMessage.tsx
  src/components/baseLayout.tsx
  src/components/externalLink.tsx
  src/components/localeSwitcher.tsx
  src/components/localeSwitcherSelect.tsx
  src/components/navigation.tsx
  src/components/navigationLink.tsx
  src/components/notFoundPage.tsx
  src/components/pageLayout.tsx
  src/env.mjs
  src/middleware.ts
  src/server/api/root.ts
  src/server/api/trpc.ts
  src/server/auth/config.ts
  src/server/auth/index.ts
  src/trpc/query-client.ts
  src/trpc/react.tsx
  src/trpc/server.ts
Labels: none

layout and sidebar
  src/app/[locale]/(authorized)/layout.tsx
  src/app/[locale]/(authorized)/network/page.tsx
  src/app/[locale]/layout.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/auth/helpers.ts
  src/auth/index.ts
  src/components/layouts/header.tsx
  src/components/layouts/sidebar.tsx
  src/components/networkPage/networkTable.tsx
  src/components/providers/sessionProvider.ts
  src/server/api/trpc.ts
  src/server/auth/config.ts
  src/server/auth/index.ts
  src/server/callbacks/signin.ts
  src/server/old_backup_auth.ts
Labels: none

login
  src/app/[locale]/(public)/auth/login/page.tsx
  src/app/[locale]/page.tsx
  src/app/api/auth/[...nextauth].ts
  src/app/api/auth/[...nextauth]/route.ts
  src/auth.ts
  src/components/auth/credentialsForm.tsx
  src/env.mjs
  src/middleware.ts
  src/server/api/trpc.ts
  src/server/auth/config.ts
  src/server/auth/index.ts
  src/server/callbacks/session.ts
  src/server/callbacks/signin.ts
  src/trpc/react.tsx
Labels: none

usestore
  src/app/[locale]/(authorized)/layout.tsx
  src/app/[locale]/layout.tsx
  src/components/layouts/authenticatedLayout.tsx
  src/components/layouts/header.tsx
  src/components/layouts/sidebar.tsx
  src/components/layouts/sidebarStateWrapper.tsx
  src/components/shared/modal.tsx
  src/store/sidebarStore.tsx
  src/store/useStore.tsx
  src/utils/store.ts
Labels: none

persist store
  src/components/layouts/authenticatedLayout.tsx
  src/components/layouts/header.tsx
  src/components/layouts/sidebar.tsx
  src/components/layouts/sidebarStateWrapper.tsx
  src/hooks/useHandleResize.tsx
Labels: none

hydration
  next.config.mjs
  package-lock.json
  package.json
  src/app/[locale]/(authorized)/layout.tsx
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/components/auth/credentialsForm.tsx
  src/components/layouts/header.tsx
  src/components/layouts/sidebar.tsx
  src/components/providers/themeProvider.tsx
  src/components/themeSwitch.tsx
  src/hooks/useHandleResize.tsx
Labels: none

user settings
  src/app/[locale]/(authorized)/user-settings/account/index.tsx
  src/app/[locale]/(authorized)/user-settings/network/index.tsx
  src/app/[locale]/(authorized)/user-settings/notification/index.tsx
  src/app/[locale]/(authorized)/user-settings/page.tsx
Labels: none

user settings
  src/app/[locale]/(authorized)/user-settings/page.tsx
Labels: none

changed error message default action
  install.ztnet/bash/ztnet.sh
Labels: installer

changed error message default action
  install.ztnet/bash/ztnet.sh
Labels: installer

socket server
  package-lock.json
  package.json
  server/.gitignore
  server/index.ts
  server/package-lock.json
  server/package.json
  server/tsconfig.json
  src/hooks/useMobile.ts
  src/hooks/useSocket.ts
  tsconfig.json
Labels: none

socket server
  server/index.ts
Labels: none

features
  src/app/[locale]/(authorized)/network/old_page.tsx
  src/app/[locale]/(authorized)/network/page.tsx
  src/app/layout.tsx
  src/components/layouts/layout.tsx
  src/features/networks/components/AddNetwork.tsx
  src/features/networks/components/NetworksList.tsx
  src/features/networks/components/PageTitle.tsx
  src/features/networks/components/UnlinkedNetworksAlert.tsx
  src/features/networks/components/UserNetworksTable.tsx
  src/features/networks/server/actions/createNetwork.ts
  src/features/networks/server/actions/getUnlinkedNetworks.ts
  src/features/networks/server/actions/getUserNetworks.ts
  src/features/settings/server/actions/settings.ts
  src/hooks/useActionHandler.tsx
  src/utils/localstorage.ts
  src/utils/ztApi.ts
Labels: none

react 19
  package-lock.json
  package.json
  src/app/[locale]/(authorized)/network/page.tsx
  src/features/networks/components/AddNetwork.tsx
  src/features/networks/schemas/createNetwork.ts
  src/features/networks/server/actions/createNetwork.ts
  src/features/networks/server/actions/getUnlinkedNetworks.ts
  src/utils/ztApi.ts
Labels: none

node
  package-lock.json
  package.json
Labels: none

network by id
  src/app/[locale]/(authorized)/network/[id]/old_page.tsx
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/app/[locale]/(authorized)/network/old_page.tsx
  src/app/[locale]/(authorized)/network/page.tsx
  src/components/networkByIdPage/addMemberById.tsx
  src/components/networkByIdPage/inviteMemberbyMail.tsx
  src/components/networkByIdPage/ipv4Assignment.tsx
  src/components/networkByIdPage/networkDescription.tsx
  src/components/networkByIdPage/networkDns.tsx
  src/components/networkByIdPage/networkFlowRules.tsx
  src/components/networkByIdPage/networkMulticast.tsx
  src/components/networkByIdPage/networkName.tsx
  src/components/networkByIdPage/networkPrivatePublic.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/features/network/components/CopyNetworkId.tsx
  src/features/network/components/NetworkActions.tsx
  src/features/network/components/NetworkHeader.tsx
  src/features/network/components/NetworkMembers.tsx
  src/features/network/components/NetworkSettings.tsx
  src/features/network/components/NoMembersInfo.tsx
  src/features/network/providers/NetworkProvider.tsx
  src/features/network/schemas/getNetworkById.ts
  src/features/network/server/deleteNetwork.tsx
  src/features/network/server/getNetworkById.tsx
  src/features/networks/components/AddNetwork.tsx
  src/features/networks/components/NetworksList.tsx
  src/features/networks/components/UserNetworksTable.tsx
  src/features/networks/components/table/TableColumns.tsx
  src/features/networks/components/table/TruncateText.tsx
  src/features/networks/components/table/UserNetworksTable.tsx
  src/features/networks/server/actions/createNetwork.ts
  src/server/api/routers/networkRouter.ts
  src/utils/ztApi.ts
Labels: none

network
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/features/network/components/NetworkActions.tsx
  src/features/network/providers/NetworkProvider.tsx
  src/features/network/schemas/deleteNetwork.ts
  src/features/network/server/actions/deleteNetwork.tsx
  src/features/network/server/actions/getNetworkById.tsx
  src/features/network/server/deleteNetwork.tsx
  src/utils/role.ts
  src/utils/ztApi.ts
Labels: none

turbo
  package.json
Labels: none

network store
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/components/networkByIdPage/networkDns.tsx
  src/components/networkByIdPage/networkName.tsx
  src/features/network/components/NetworkActions.tsx
  src/features/network/components/NetworkHeader.tsx
  src/features/network/providers/NetworkInitilizer.tsx
  src/features/network/providers/NetworkProvider.tsx
  src/features/network/schemas/updateNetwork.ts
  src/features/network/server/actions/updateNetworkName.tsx
  src/store/networkStore.ts
  src/utils/ztApi.ts
Labels: none

store
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/components/networkByIdPage/networkName.tsx
  src/features/network/components/NetworkHeader.tsx
  src/store/networkStore.ts
Labels: none

name
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/features/network/components/NetworkHeader.tsx
  src/store/networkStore.ts
Labels: none

websocket
  package-lock.json
  package.json
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/app/api/ws/route.ts
  src/app/layout.tsx
  src/components/providers/socketProvider.tsx
  src/i18n/routing.ts
  src/middleware.ts
Labels: none

ws
  src/app/api/ws/route.ts
  src/components/layouts/authenticatedLayout.tsx
  tsconfig.json
Labels: none

websocket
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/app/api/ws/route.ts
  src/components/layouts/authenticatedLayout.tsx
  src/components/networkByIdPage/networkDescription.tsx
  src/features/network/components/NetworkHeader.tsx
  src/features/network/components/NetworkSettings.tsx
  src/features/network/components/NetworkUpdatesListners.tsx
  src/features/network/server/actions/getNetworkById.tsx
  src/hooks/useNetworkUpdates.ts
  src/lib/authContext.ts
  src/lib/networkCache.ts
  src/server/api/services/memberService.ts
  src/store/networkStore.ts
  src/utils/ztApi.ts
Labels: none

websocket
  package-lock.json
  package.json
  src/app/api/ws/route.ts
  src/components/networkByIdPage/networkDescription.tsx
  src/cronTasks.ts
  src/hooks/useNetworkField.tsx
  src/hooks/useNetworkUpdates.ts
  src/lib/websocketMangager.ts
  src/store/networkStore.ts
Labels: none

websocket
  src/components/networkByIdPage/networkDescription.tsx
  src/features/network/schemas/updateNetworkDescription.ts
  src/features/network/server/actions/updateNetworkDescription.tsx
  src/lib/websocketMangager.ts
Labels: none

websocket
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/networkByIdPage/networkDescription.tsx
  src/components/networkByIdPage/networkName.tsx
  src/features/network/components/NetworkHeader.tsx
  src/features/network/server/actions/getNetworkById.tsx
  src/features/network/server/actions/updateNetworkName.tsx
  src/hooks/useNetworkField.tsx
  src/hooks/useNetworkUpdates.ts
  src/lib/websocketMangager.ts
  src/store/networkStore.ts
Labels: none

server actions
  src/app/[locale]/(authorized)/network/[id]/page.tsx
  src/features/network/server/actions/getNetworkById.tsx
  src/features/network/server/actions/getNetworkMembers.tsx
  src/lib/networkSyncService.ts
  src/lib/websocketMangager.ts
Labels: none

server actions
  src/features/network/components/NetworkPrivatePublic.tsx
  src/features/network/server/actions/updateNetworkPrivacy.ts
Labels: none

logs
  docs/docs/Installation/linux.md
Labels: documentation

logs
  docs/docs/Installation/linux.md
Labels: documentation

build
  .github/workflows/docs-build.yml
Labels: none

build
  .github/workflows/docs-build.yml
Labels: none

build
  .github/workflows/docs-build-runner.yml
  .github/workflows/docs-build.yml
Labels: none
