Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

fetch auth members from api
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

fetch auth members from api
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

updated table
  src/components/networkPage/networkTable.tsx
  src/components/networkPage/networkTableMemberCount.tsx
  src/components/organization/networkTable.tsx
  src/types/local/member.d.ts
Labels: none

updated table
  src/components/networkPage/networkTable.tsx
  src/components/networkPage/networkTableMemberCount.tsx
  src/components/organization/networkTable.tsx
  src/types/local/member.d.ts
Labels: none

updated translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: none

updated translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: none

updated tests
  src/server/api/__tests__/network/getUserNetworks.test.ts
Labels: none

updated tests
  src/server/api/__tests__/network/getUserNetworks.test.ts
Labels: none

readme
  README.md
Labels: none

readme
  README.md
Labels: none

dependencies update
  package-lock.json
  package.json
Labels: none

dependencies update
  package-lock.json
  package.json
Labels: none

instrumentation
  next.config.mjs
Labels: none

instrumentation
  next.config.mjs
Labels: none

use depth 1 and sparse checkout
  install.ztnet/bash/ztnet.sh
Labels: installer

use depth 1 and sparse checkout
  install.ztnet/bash/ztnet.sh
Labels: installer

fetch tags
  install.ztnet/bash/ztnet.sh
Labels: installer

fetch tags
  install.ztnet/bash/ztnet.sh
Labels: installer

new routes table
  prisma/migrations/20241227084426_routes_table/migration.sql
  prisma/schema.prisma
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/networkRouter.ts
  src/server/api/services/networkService.ts
  src/types/local/network.d.ts
Labels: none

new routes table
  prisma/migrations/20241227084426_routes_table/migration.sql
  prisma/schema.prisma
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/networkRouter.ts
  src/server/api/services/networkService.ts
  src/types/local/network.d.ts
Labels: none

routes
  src/components/elements/input.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/pages/central/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/networkRouter.ts
  src/server/api/services/routesService.ts
  src/types/local/network.d.ts
Labels: none

routes
  src/components/elements/input.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/pages/central/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/networkRouter.ts
  src/server/api/services/routesService.ts
  src/types/local/network.d.ts
Labels: none

routes
  src/server/api/routers/organizationRouter.ts
Labels: none

routes
  src/server/api/routers/organizationRouter.ts
Labels: none

tests
  src/__tests__/pages/network/[id].test.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
Labels: none

tests
  src/__tests__/pages/network/[id].test.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
Labels: none

textarea
  src/components/elements/input.tsx
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
Labels: none

textarea
  src/components/elements/input.tsx
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
Labels: none

translations
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/server/api/routers/networkRouter.ts
Labels: none

translations
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/server/api/routers/networkRouter.ts
Labels: none

duplicate routes
  src/server/api/routers/networkRouter.ts
Labels: none

duplicate routes
  src/server/api/routers/networkRouter.ts
Labels: none

central
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
Labels: none

central
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
Labels: none

network help
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

network help
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

Update common.json
  src/locales/pl/common.json
Labels: none

Update common.json
  src/locales/pl/common.json
Labels: none

added info for mobile limitation
  docs/docs/Usage/private_root.md
Labels: documentation

added info for mobile limitation
  docs/docs/Usage/private_root.md
Labels: documentation
