Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

bump nextjs
  package-lock.json
  package.json
Labels: none

bumped archiver, axios, unzipper
  package-lock.json
  package.json
Labels: none

bumped minimatch, qs in ztnet installer
  install.ztnet/package-lock.json
Labels: installer

bump openapi docs
  docs/package-lock.json
  docs/package.json
Labels: documentation

Bump dependencies and fix test setup (#839)
  docs/package-lock.json
  docs/package.json
  install.ztnet/package-lock.json
  jest.setup.ts
  package-lock.json
  package.json
Labels: documentation, installer

Fix typo in docker-compose.md (#836)
  docs/docs/Installation/docker-compose.md
Labels: documentation

bump minimatch
  package-lock.json
Labels: none

bump minimatch (#840)
  package-lock.json
Labels: none

allow creating organization network member using api.
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  docs/docs/Rest Api/Personal/_source/networkMember.yml
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: documentation

lint
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: none

Fix org API unable to create new network members (#841)
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  docs/docs/Rest Api/Personal/_source/networkMember.yml
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: documentation

new community tools section in the docs
  docs/docs/Usage/community-tools.md
Labels: documentation

new community tools section in the docs (#842)
  docs/docs/Usage/community-tools.md
Labels: documentation

add checkUserOrganizationRole
  src/server/api/routers/organizationRouter.ts
Labels: none

add checkUserOrganizationRole (#843)
  src/server/api/routers/organizationRouter.ts
Labels: none

Fix network and organization authorization checks
  src/server/api/__tests__/network/networkAccessControl.test.ts
  src/server/api/__tests__/networkMembers/updateDatabaseOnly.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/utils/networkAccess.ts
Labels: none

remove dead code
  src/server/api/routers/organizationRouter.ts
Labels: none

Fix network and organization authorization checks (#844)
  src/server/api/__tests__/network/networkAccessControl.test.ts
  src/server/api/__tests__/networkMembers/updateDatabaseOnly.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/utils/networkAccess.ts
Labels: none

Add DELETE method support to network API and update tests
  src/pages/api/__tests__/v1/org/network/org.network.id.test.ts
  src/pages/api/__tests__/v1/org/network/org.network.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
Labels: none

added new delete endpoint to the docs
  docs/docs/Rest Api/Organization/Network/delete-network.ParamsDetails.json
  docs/docs/Rest Api/Organization/Network/delete-network.RequestSchema.json
  docs/docs/Rest Api/Organization/Network/delete-network.StatusCodes.json
  docs/docs/Rest Api/Organization/_source/network.yml
Labels: documentation

fix linting
  src/pages/api/__tests__/v1/org/network/org.network.id.test.ts
Labels: none

Add DELETE method support to network API and update tests (#846)
  docs/docs/Rest Api/Organization/Network/delete-network.ParamsDetails.json
  docs/docs/Rest Api/Organization/Network/delete-network.RequestSchema.json
  docs/docs/Rest Api/Organization/Network/delete-network.StatusCodes.json
  docs/docs/Rest Api/Organization/_source/network.yml
  src/pages/api/__tests__/v1/org/network/org.network.id.test.ts
  src/pages/api/__tests__/v1/org/network/org.network.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
Labels: documentation

Fixes a typo that prevented the German translation from loading in the “Custom Planet” section
  src/locales/de/common.json
Labels: none

Fixes a typo that prevented the German translation from loading in the “Custom Planet” section (#850)
  src/locales/de/common.json
Labels: none

Enhance network member schema and update POST method to include new fields
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: none

Update PostBodySchema to change capabilities type to number and tags to a tuple of strings
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
Labels: none

Enhance network member schema by adding new fields
  docs/docs/Rest Api/Organization/_source/networkMember.yml
Labels: documentation

bump next
  package-lock.json
  package.json
Labels: none

bump next (#855)
  package-lock.json
  package.json
Labels: none

Remove Go language from CodeQL workflow
  .github/workflows/codeql.yml
Labels: none

Remove Go language from CodeQL workflow (#856)
  .github/workflows/codeql.yml
Labels: none

bumped packages
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: documentation

bumped packages (#857)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: documentation

Refactor network member schema and update tags type
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
Labels: documentation

nodemailer
  install.ztnet/src/routes/postError.ts
Labels: installer

nodemailer
  install.ztnet/src/routes/postError.ts
Labels: installer

updated socket.io-parser
  package-lock.json
Labels: none

Enhance network member schema and update POST method to include new fields (#852)
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: documentation

updated socket.io-parser (#859)
  package-lock.json
Labels: none

feat(api): add REST API endpoints for organization management
  src/pages/api/v1/org/[orgid]/index.ts
  src/pages/api/v1/org/[orgid]/user/index.ts
  src/pages/api/v1/org/_schema.ts
  src/pages/api/v1/org/index.ts
Labels: none

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**
