Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

merge main
  docs/package-lock.json
Labels: documentation

merge main
  docs/package-lock.json
Labels: documentation

added more translations
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

added more translations
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

updated docs for keycloak
  docs/docs/Authentication/oauth.md
Labels: documentation

updated docs for keycloak
  docs/docs/Authentication/oauth.md
Labels: documentation

added lastseen to the user table
  src/components/adminPage/users/table/accounts.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: none

added lastseen to the user table
  src/components/adminPage/users/table/accounts.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: none

email verification icon
  src/components/adminPage/users/table/accounts.tsx
  src/components/elements/inputField.tsx
  src/icons/verified.tsx
Labels: none

email verification icon
  src/components/adminPage/users/table/accounts.tsx
  src/components/elements/inputField.tsx
  src/icons/verified.tsx
Labels: none

site name env
  src/env.mjs
Labels: none

site name env
  src/env.mjs
Labels: none

dockerfile arg
  Dockerfile
Labels: none

dockerfile arg
  Dockerfile
Labels: none

env
  src/utils/global.ts
Labels: none

env
  src/utils/global.ts
Labels: none

added option to set sitename from the admin menu. removed from env
  .devcontainer/init-cmd.sh
  .github/workflows/main_build.yml
  .github/workflows/pull_request.yml
  Dockerfile
  docs/docs/Installation/FreeBSD.md
  docs/docs/Installation/options.md
  install.ztnet/bash/ztnet.sh
  prisma/migrations/20241215102802_sitename/migration.sql
  prisma/schema.prisma
  src/components/layouts/header.tsx
  src/env.mjs
  src/locales/en/common.json
  src/pages/admin/index.tsx
  src/pages/admin/settings/index.tsx
  src/pages/auth/forgotPassword/index.tsx
  src/pages/auth/forgotPassword/reset/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/mfaRecovery/index.tsx
  src/pages/auth/mfaRecovery/reset/index.tsx
  src/pages/auth/register/index.tsx
  src/pages/auth/verifyEmail/index.tsx
  src/pages/central/[id].tsx
  src/pages/central/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/network/[id].tsx
  src/pages/network/index.tsx
  src/pages/organization/[orgid].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/pages/organization/[orgid]/admin/index.tsx
  src/pages/organization/[orgid]/admin/invite/index.tsx
  src/pages/organization/[orgid]/admin/settings/index.tsx
  src/pages/organization/[orgid]/admin/webhooks/index.tsx
  src/pages/user-settings/index.tsx
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/settingsRouter.ts
  src/utils/global.ts
Labels: documentation, installer

added option to set sitename from the admin menu. removed from env
  .devcontainer/init-cmd.sh
  .github/workflows/main_build.yml
  .github/workflows/pull_request.yml
  Dockerfile
  docs/docs/Installation/FreeBSD.md
  docs/docs/Installation/options.md
  install.ztnet/bash/ztnet.sh
  prisma/migrations/20241215102802_sitename/migration.sql
  prisma/schema.prisma
  src/components/layouts/header.tsx
  src/env.mjs
  src/locales/en/common.json
  src/pages/admin/index.tsx
  src/pages/admin/settings/index.tsx
  src/pages/auth/forgotPassword/index.tsx
  src/pages/auth/forgotPassword/reset/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/mfaRecovery/index.tsx
  src/pages/auth/mfaRecovery/reset/index.tsx
  src/pages/auth/register/index.tsx
  src/pages/auth/verifyEmail/index.tsx
  src/pages/central/[id].tsx
  src/pages/central/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/network/[id].tsx
  src/pages/network/index.tsx
  src/pages/organization/[orgid].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/pages/organization/[orgid]/admin/index.tsx
  src/pages/organization/[orgid]/admin/invite/index.tsx
  src/pages/organization/[orgid]/admin/settings/index.tsx
  src/pages/organization/[orgid]/admin/webhooks/index.tsx
  src/pages/user-settings/index.tsx
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/settingsRouter.ts
  src/utils/global.ts
Labels: documentation, installer

translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/settings/index.tsx
Labels: none

translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/settings/index.tsx
Labels: none

tests
  src/__tests__/__mocks__/networkById.ts
  src/__tests__/pages/auth/signin.test.tsx
  src/__tests__/pages/network/[id].test.tsx
  src/__tests__/pages/network/index.test.tsx
Labels: none

tests
  src/__tests__/__mocks__/networkById.ts
  src/__tests__/pages/auth/signin.test.tsx
  src/__tests__/pages/network/[id].test.tsx
  src/__tests__/pages/network/index.test.tsx
Labels: none

placeHolder
  src/pages/admin/settings/index.tsx
Labels: none

placeHolder
  src/pages/admin/settings/index.tsx
Labels: none

Update common.json
  src/locales/pl/common.json
Labels: none

Update common.json
  src/locales/pl/common.json
Labels: none

Update accounts.tsx
  src/components/adminPage/users/table/accounts.tsx
Labels: none

Update accounts.tsx
  src/components/adminPage/users/table/accounts.tsx
Labels: none

only update members in network they exists
  src/server/api/routers/memberRouter.ts
  src/server/api/services/memberService.ts
Labels: none

only update members in network they exists
  src/server/api/routers/memberRouter.ts
  src/server/api/services/memberService.ts
Labels: none

find existing name in the controller
  src/server/api/services/memberService.ts
Labels: none

find existing name in the controller
  src/server/api/services/memberService.ts
Labels: none

check db for organization nodes
  src/server/api/services/memberService.ts
Labels: none

check db for organization nodes
  src/server/api/services/memberService.ts
Labels: none

check db then controller for node name
  src/server/api/services/memberService.ts
Labels: none

check db then controller for node name
  src/server/api/services/memberService.ts
Labels: none

upsert new members
  src/server/api/services/memberService.ts
Labels: none

upsert new members
  src/server/api/services/memberService.ts
Labels: none

comments
  src/server/api/services/memberService.ts
Labels: none

comments
  src/server/api/services/memberService.ts
Labels: none
