Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

responsive modal
  src/components/networkByIdPage/memberOptionsModal.tsx
Labels: none

Update common.json
  src/locales/pl/common.json
Labels: none

fix default template for "Node Permanently deleted"
  src/server/api/routers/organizationRouter.ts
Labels: none

fix default template for "Node Permanently deleted" (#718)
  src/server/api/routers/organizationRouter.ts
Labels: none

Update common.json (#716)
  src/locales/pl/common.json
Labels: none

maintain name when update
  src/server/api/services/memberService.ts
Labels: none

tsconfig
  tsconfig.json
Labels: none

added test for node name
  src/server/api/__tests__/services/memberService.test.ts
Labels: none

tsconfig
  tsconfig.json
Labels: none

Fix: Preserve database member names during sync when controller returns empty names (#728)
  src/server/api/__tests__/services/memberService.test.ts
  src/server/api/services/memberService.ts
Labels: none

gitignore
  .gitignore
Labels: none

Resolve member name loss by supporting both database and controller sources
  src/server/api/__tests__/services/memberService.test.ts
  src/server/api/services/memberService.ts
Labels: none

Fix: Smart name resolution - preserve names from both database and controller sources (#729)
  .gitignore
  src/server/api/__tests__/services/memberService.test.ts
  src/server/api/services/memberService.ts
Labels: none

Fixes trash icon visibility in managed routes table on lower resolutions
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/pages/network/[id].tsx
  tailwind.config.cjs
Labels: none

lint
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
Labels: none

Fix: Improve responsive layout and trash icon visibility for network settings (#730)
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/pages/network/[id].tsx
  tailwind.config.cjs
Labels: none

stick to zerotier 1.14.2
  install.ztnet/bash/ztnet.sh
Labels: installer

version
  install.ztnet/bash/ztnet.sh
Labels: installer

beta
  install.ztnet/bash/ztnet_beta.sh
Labels: installer

beta
  install.ztnet/src/index.ts
  install.ztnet/src/routes/getBetaInstaller.ts
Labels: installer

pin 1.14.2
  install.ztnet/bash/ztnet.sh
Labels: installer

Pin ZeroTier to version 1.14.2 in installation script (#747)
  install.ztnet/bash/ztnet_beta.sh
  install.ztnet/src/index.ts
  install.ztnet/src/routes/getBetaInstaller.ts
Labels: installer

show accurate active and total nodes
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

[nit] Spelling fix in network page view
  src/locales/en/common.json
Labels: none

show accurate active and total nodes (#749)
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

[nit] Spelling fix in network page view (#753)
  src/locales/en/common.json
Labels: none

build app
  .github/workflows/pull_request.yml
Labels: none

build workflow
  .github/workflows/pull_request.yml
Labels: none

axios error handling
  src/server/helpers/errorHandler.ts
Labels: none

updated prisma to latest version
  package-lock.json
  package.json
  prisma.config.ts
  update_translations.py
Labels: none

Bumped @prisma/client
  package-lock.json
  package.json
Labels: none

dotenv
  prisma.config.ts
Labels: none

update docs to pull correct prisma version
  docs/docs/Installation/FreeBSD.md
Labels: documentation

pin prisma versoin
  package.json
Labels: none

Bump Prisma to version 6.16.3 (#754)
  docs/docs/Installation/FreeBSD.md
  package-lock.json
  package.json
  prisma.config.ts
  update_translations.py
Labels: documentation

German language
  next.config.mjs
Labels: none

Add german language
  src/locales/lang.ts
Labels: none

Added german language
  src/locales/de/common.json
Labels: none

added sender name
  prisma/migrations/20251025045719_email_from_name/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/mail/index.tsx
  src/server/api/routers/adminRoute.ts
  src/utils/mail.ts
Labels: none

added sender name (#759)
  prisma/migrations/20251025045719_email_from_name/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/mail/index.tsx
  src/server/api/routers/adminRoute.ts
  src/utils/mail.ts
Labels: none
