Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

fix installation on trixi
  install.ztnet/bash/ztnet.sh
  install.ztnet/bash/ztnet_beta.sh
Labels: installer

style(auth): apply biome formatting
  src/lib/auth.ts
Labels: none

curl
  install.ztnet/bash/ztnet.sh
  install.ztnet/bash/ztnet_beta.sh
Labels: installer

Fix standalone install on Debian 13 and newer Ubuntu by falling back to the closest ZeroTier 1.14.2 build (#1018)
  install.ztnet/bash/ztnet.sh
  install.ztnet/bash/ztnet_beta.sh
Labels: installer

installer types
  install.ztnet/package-lock.json
  install.ztnet/package.json
  install.ztnet/tsconfig.json
Labels: installer

fix(auth): create missing UserOptions for OAuth users (#1012)
  src/lib/auth.ts
  src/server/api/routers/authRouter.ts
Labels: none

trim docker image size
  Dockerfile
Labels: none

trim docker image size (#1020)
  Dockerfile
Labels: none

Scope organization network API routes to the organization in the URL
  src/pages/api/__tests__/v1/org/network/org.network.id.access.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/utils/apiRouteAuth.ts
Labels: none

Scope organization network API routes to the organization in the URL (#1021)
  src/pages/api/__tests__/v1/org/network/org.network.id.access.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/utils/apiRouteAuth.ts
Labels: none

Add WEBHOOK_ALLOW_PRIVATE_TARGETS and tighten webhook and org network checks
  .env.example
  docs/docs/Installation/options.md
  docs/docs/Rest Api/Organization/_source/network.yml
  docs/docs/Usage/webhooks.md
  src/pages/api/__tests__/v1/org/network/org.network.id.access.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/utils/__tests__/ssrfGuard.test.ts
  src/utils/__tests__/webhook.test.ts
  src/utils/__tests__/webhookPrivateTargets.test.ts
  src/utils/ssrfGuard.ts
Labels: documentation

Add WEBHOOK_ALLOW_PRIVATE_TARGETS and tighten webhook and org network checks (#1022)
  .env.example
  docs/docs/Installation/options.md
  docs/docs/Rest Api/Organization/_source/network.yml
  docs/docs/Usage/webhooks.md
  src/pages/api/__tests__/v1/org/network/org.network.id.access.test.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/utils/__tests__/ssrfGuard.test.ts
  src/utils/__tests__/webhook.test.ts
  src/utils/__tests__/webhookPrivateTargets.test.ts
  src/utils/ssrfGuard.ts
Labels: documentation

Keep the Alibaba metadata address blocked when private webhook targets are allowed
  docs/docs/Installation/options.md
  docs/docs/Usage/webhooks.md
  src/utils/__tests__/ssrfGuard.test.ts
  src/utils/__tests__/webhookPrivateTargets.test.ts
  src/utils/ssrfGuard.ts
Labels: documentation

Keep the Alibaba metadata address blocked when private webhook targets are allowed (#1023)
  docs/docs/Installation/options.md
  docs/docs/Usage/webhooks.md
  src/utils/__tests__/ssrfGuard.test.ts
  src/utils/__tests__/webhookPrivateTargets.test.ts
  src/utils/ssrfGuard.ts
Labels: documentation

Declare the site icons in the document head and regenerate them from the logo
  public/apple-touch-icon.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/manifest.json
  src/components/shared/metaTags.tsx
  src/pages/_document.tsx
  src/pages/auth/forgotPassword/index.tsx
  src/pages/auth/forgotPassword/reset/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/mfaRecovery/index.tsx
  src/pages/auth/mfaRecovery/reset/index.tsx
  src/pages/auth/register/index.tsx
  src/pages/auth/verifyEmail/index.tsx
  src/pages/central/[id].tsx
  src/pages/central/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/network/[id].tsx
  src/pages/user-settings/index.tsx
Labels: none

Declare the site icons in the document head and regenerate them from the logo (#1024)
  public/apple-touch-icon.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/manifest.json
  src/components/shared/metaTags.tsx
  src/pages/_document.tsx
  src/pages/auth/forgotPassword/index.tsx
  src/pages/auth/forgotPassword/reset/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/mfaRecovery/index.tsx
  src/pages/auth/mfaRecovery/reset/index.tsx
  src/pages/auth/register/index.tsx
  src/pages/auth/verifyEmail/index.tsx
  src/pages/central/[id].tsx
  src/pages/central/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/network/[id].tsx
  src/pages/user-settings/index.tsx
Labels: none

Improve mkworld config route handling and add tests
  src/pages/api/__tests__/mkworld/config.test.ts
  src/pages/api/mkworld/config.ts
Labels: none

Improve mkworld config route handling and add tests (#1031)
  src/pages/api/__tests__/mkworld/config.test.ts
  src/pages/api/mkworld/config.ts
Labels: none

Add Italian translation
  next.config.mjs
  src/locales/it/common.json
  src/locales/lang.ts
  src/pages/locale-redirect.tsx
Labels: none

Refine Italian wording of the ZeroTier Central description
  src/locales/it/common.json
Labels: none

Let the planet action buttons wrap when labels are long
  src/components/adminPage/controller/privateRoot.tsx
Labels: none
