Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

bump ejs, nodemailer, jest, tailwind
  package-lock.json
  package.json
Labels: none

bump prisma
  package-lock.json
  package.json
Labels: none

bump packages
  install.ztnet/package-lock.json
  install.ztnet/package.json
Labels: installer

Bump dependency packages (#875)
  package-lock.json
  package.json
Labels: none

routes for Express 5 compatibility
  install.ztnet/src/index.ts
Labels: installer

ratelimiter
  install.ztnet/src/index.ts
Labels: installer

Bump install.ztnet dependencies (#876)
  install.ztnet/package-lock.json
  install.ztnet/package.json
  install.ztnet/src/index.ts
Labels: installer

lookup by account id
  src/server/api/__tests__/callbacks/signinOAuthLookup.test.ts
  src/server/callbacks/signin.ts
Labels: none

test
  src/server/api/__tests__/callbacks/signinOAuthLookup.test.ts
Labels: none

lint
  src/server/api/__tests__/callbacks/signinOAuthLookup.test.ts
  src/server/callbacks/signin.ts
Labels: none

Prevent duplicate OAuth accounts after email rename (Gmail) (#884)
  src/server/api/__tests__/callbacks/signinOAuthLookup.test.ts
  src/server/callbacks/signin.ts
Labels: none

user
  src/pages/user-settings/account/index.tsx
Labels: none

oauth
  src/lib/auth.ts
Labels: none

type error
  src/components/auth/userDevices.tsx
  src/components/layouts/header.tsx
  src/components/layouts/sidebar.tsx
  src/components/organization/orgNavBar.tsx
  src/hooks/usePasswordChangeEnforcement.ts
  src/lib/auth.ts
  src/lib/authClient.ts
  src/pages/auth/password-change-required/index.tsx
  src/pages/user-settings/account/index.tsx
  src/server/api/routers/authRouter.ts
  src/server/api/trpc.ts
Labels: none

test
  jest.pages.config.ts
  package-lock.json
  package.json
  src/__tests__/pages/auth/signin.test.tsx
  src/components/auth/totpDigits.tsx
Labels: none

zod v4
  src/pages/api/v1/network/[id]/member/[memberId]/_schema.ts
  src/pages/api/v1/network/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/_schema.ts
  src/utils/apiRouteAuth.ts
Labels: none

cleanup
  prisma/migrations/20260414184507_better_auth/migration.sql
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
  src/lib/authClient.ts
  src/pages/user-settings/account/index.tsx
Labels: none

types
  src/components/adminPage/controller/rootForm.tsx
  src/components/adminPage/users/userGroups.tsx
  src/components/adminPage/users/userInvitation.tsx
  src/components/auth/totpDigits.tsx
  src/server/api/routers/organizationRouter.ts
Labels: none

zod v4 migation
  src/components/networkByIdPage/ipv4Assignment.tsx
  src/components/networkByIdPage/ipv6assignment.tsx
  src/components/networkByIdPage/organization/addOrgForm.tsx
  src/components/organization/inviteByMail.tsx
  src/components/userSettings/apiToken.tsx
  src/env.mjs
  src/pages/api/v1/network/[id]/member/[memberId]/_schema.ts
  src/pages/api/v1/network/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/_schema.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

lint
  src/server/api/routers/memberRouter.ts
Labels: none

bump axios
  package-lock.json
  package.json
Labels: none

bump axios (#888)
  package-lock.json
  package.json
Labels: none

Update flowRules to flowRule in NetworkSchema.yml for consistency
  docs/docs/Rest Api/_schema/NetworkSchema.yml
Labels: documentation

Update flowRules to flowRule in NetworkSchema.yml for consistency (#891)
  docs/docs/Rest Api/_schema/NetworkSchema.yml
Labels: documentation

sidebar
  docs/docs/Rest Api/Organization/Network/sidebar.ts
Labels: documentation

fix(local-controller): include nwid in local network payload
  src/utils/ztApi.ts
Labels: none

gitignore
  .gitignore
Labels: none

bump packages
  package-lock.json
  package.json
Labels: none

zt
  .devcontainer/docker-compose.yml
Labels: none

better-auth
  package-lock.json
  package.json
Labels: none

Bump dependencies (#894)
  .devcontainer/docker-compose.yml
  package-lock.json
  package.json
Labels: none

improved oauth
  jest.api.config.ts
  jest.pages.config.ts
  next.config.mjs
  src/__tests__/components/oauthLogin.test.tsx
  src/__tests__/pages/auth/signin.test.tsx
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
  src/server/api/__tests__/services/authHooks.test.ts
  src/server/api/__tests__/services/credentialAccountService.test.ts
  src/server/api/__tests__/services/oauthConfig.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/services/credentialAccountService.ts
Labels: none

rewrite url
  next.config.mjs
  src/__tests__/components/oauthLogin.test.tsx
  src/__tests__/pages/auth/signin.test.tsx
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
Labels: none

test
  src/__tests__/pages/auth/signin.test.tsx
  src/server/api/__tests__/services/oauthConfig.test.ts
Labels: none

callback
  src/lib/auth.ts
  src/server/api/__tests__/services/oauthConfig.test.ts
Labels: none

test
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/oauthPluginConfig.test.ts
  src/server/api/__tests__/services/oauthProfileMapping.test.ts
  src/server/api/__tests__/services/publicRouterOAuth.test.ts
Labels: none

Harden better-auth migration: OAuth, password sync, security checks (#895)
  jest.api.config.ts
  jest.pages.config.ts
  src/__tests__/components/oauthLogin.test.tsx
  src/__tests__/pages/auth/signin.test.tsx
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
  src/server/api/__tests__/services/authHooks.test.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/credentialAccountService.test.ts
  src/server/api/__tests__/services/oauthConfig.test.ts
  src/server/api/__tests__/services/oauthPluginConfig.test.ts
  src/server/api/__tests__/services/oauthProfileMapping.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/__tests__/services/publicRouterOAuth.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/services/credentialAccountService.ts
Labels: none

Fix `exectued` -> `executed` typo in override_default_route docs
  docs/docs/Usage/override_default_route.md
Labels: documentation

Fix `exectued` -> `executed` typo in override_default_route docs (#896)
  docs/docs/Usage/override_default_route.md
Labels: documentation

added move network function
  src/components/networkPage/transferNetworkBetweenOrganizations.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/ua/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/organizationRouter.ts
Labels: none

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**
