Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/backuprestore/index.tsx
Labels: none

exclude tmp folder
  .gitignore
Labels: none

new feature backup and restore
  Dockerfile
  src/pages/admin/backuprestore/index.tsx
  src/pages/admin/index.tsx
  src/pages/admin/organization/index.tsx
  src/server/api/routers/adminRoute.ts
  src/utils/store.ts
Labels: none

updated biome
  biome.json
  package-lock.json
  package.json
  src/__tests__/components/networkDns.test.tsx
  src/__tests__/components/networkIpAssignments.test.tsx
  src/__tests__/components/networkMulticast.test.tsx
  src/components/adminPage/controller/createPlanet.tsx
  src/components/adminPage/controller/rootForm.tsx
  src/components/adminPage/controller/unlinkedNetworkTable.tsx
  src/components/adminPage/mail/mailDeviceIpChangeNotificationTemplate.tsx
  src/components/adminPage/mail/mailForgotPasswordTemplate.tsx
  src/components/adminPage/mail/mailNewDeviceNotificationTemplate.tsx
  src/components/adminPage/mail/mailNotificationTemplate.tsx
  src/components/adminPage/mail/mailOrganizationInviteTemplate.tsx
  src/components/adminPage/mail/mailUserInviteTemplate.tsx
  src/components/adminPage/mail/mailVerifyEmail.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
  src/components/shared/menuSectionDividerWrapper.tsx
  src/pages/user-settings/account/index.tsx
  src/styles/globals.css
Labels: none

biome lint updates
  src/components/adminPage/users/table/accounts.tsx
  src/components/adminPage/users/userIsActive.tsx
  src/components/auth/totpSetup.tsx
  src/components/elements/dropdownlist.tsx
  src/components/elements/input.tsx
  src/components/elements/inputField.tsx
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkDescription.tsx
  src/components/networkByIdPage/table/deletedNetworkMembersTable.tsx
  src/pages/api/trpc/[trpc].ts
  src/pages/organization/[orgid]/admin/invite/index.tsx
  src/server/api/routers/_schema.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/services/memberService.ts
  src/server/auth.ts
  src/server/callbacks/signin.ts
  src/utils/mail.ts
  src/utils/planet.ts
  src/utils/ztApi.ts
Labels: none

sidebar
  src/components/layouts/sidebar.tsx
Labels: none

translations
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/backuprestore/index.tsx
Labels: none

exclude tmp folder
  .gitignore
Labels: none

null check
  src/components/networkByIdPage/networkRoutes/collumns.tsx
Labels: none

use tar instead of zip
  Dockerfile
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/backuprestore/index.tsx
  src/server/api/routers/adminRoute.ts
Labels: none

translations
  src/components/layouts/sidebar.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/backuprestore/index.tsx
  src/pages/admin/index.tsx
Labels: none

description
  src/pages/admin/backuprestore/index.tsx
Labels: none

styling
  package-lock.json
  package.json
  src/pages/admin/backuprestore/index.tsx
Labels: none

align issues
  src/components/networkByIdPage/ipv4Assignment.tsx
  src/components/networkByIdPage/ipv6assignment.tsx
  src/components/networkByIdPage/networkIpAssignments.tsx
  src/components/networkByIdPage/networkMtu.tsx
Labels: none

inform user to restart docker
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/backuprestore/index.tsx
  src/server/api/routers/adminRoute.ts
  src/types/backupRestore.ts
Labels: none

specific version
  docs/docs/Installation/linux.md
Labels: documentation

recreate public folder during installation
  install.ztnet/bash/ztnet.sh
Labels: installer

copy to correct target
  install.ztnet/bash/ztnet.sh
Labels: installer

remove user from db if not present in controller
  src/server/api/routers/organizationRouter.ts
  src/utils/ztApi.ts
Labels: none

fix(api/member): lower required role to READ_ONLY on GET endpoints
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/index.ts
  src/pages/api/v1/org/[orgid]/network/index.ts
  src/pages/api/v1/org/[orgid]/user/index.ts
Labels: none

allow request without body
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
Labels: none

standardize authentication error messages for security
  src/__tests__/pages/auth/signin.test.tsx
  src/server/auth.ts
  src/utils/errorCode.ts
Labels: none

improved message
  src/__tests__/pages/auth/signin.test.tsx
  src/components/auth/credentialsForm.tsx
Labels: none

tests
  src/components/auth/credentialsForm.tsx
Labels: none

lint
  src/components/auth/credentialsForm.tsx
Labels: none

new func for deleting all stashed members
  src/components/networkByIdPage/table/deletedNetworkMembersTable.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/server/api/routers/memberRouter.ts
Labels: none

improved stash/deleting of nodes
  prisma/migrations/20250730084723_add_permanently_deleted_flag/migration.sql
  prisma/schema.prisma
  src/components/networkByIdPage/addMemberById.tsx
  src/components/networkByIdPage/table/deletedNetworkMembersTable.tsx
  src/components/networkByIdPage/table/memberEditCell.tsx
  src/components/networkByIdPage/table/memberHeaderColumns.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
Labels: none

updated test
  src/__tests__/pages/network/[id].test.tsx
Labels: none

fix path for physical ip
  src/utils/sorting.ts
Labels: none

optional chain
  src/utils/sorting.ts
Labels: none

new expiration date for user groups
  prisma/migrations/20250730100254_add_user_group_expiration/migration.sql
  prisma/schema.prisma
  src/components/adminPage/users/userGroups.tsx
  src/components/elements/inputField.tsx
  src/cronTasks.ts
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/server/api/routers/adminRoute.ts
Labels: none

lint
  src/components/adminPage/users/userGroups.tsx
  src/cronTasks.ts
Labels: none

Improve OAUTH_EXCLUSIVE_LOGIN to properly hide signup form and prevent unauthorized registrations
  .env.example
  docs/docs/Authentication/oauth.md
  docs/docs/Installation/options.md
  src/__tests__/pages/auth/signin.test.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/users/index.tsx
  src/pages/auth/login/index.tsx
  src/pages/auth/register/index.tsx
  src/server/api/routers/publicRouter.ts
  src/server/api/routers/settingsRouter.ts
  src/server/callbacks/signin.ts
Labels: documentation

removed unused keys
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: none

registration
  src/server/callbacks/signin.ts
Labels: none

better error handling
  src/server/callbacks/signin.ts
  src/utils/errorCode.ts
Labels: none

lint
  src/server/callbacks/signin.ts
  src/utils/errorCode.ts
Labels: none

translations
  src/server/api/routers/publicRouter.ts
  src/server/api/routers/settingsRouter.ts
Labels: none

lint
  src/server/api/routers/publicRouter.ts
  src/server/api/routers/settingsRouter.ts
Labels: none

improved the network list layout
  src/components/elements/debouncedInput.tsx
  src/components/networkPage/centralNetworkTable.tsx
  src/components/networkPage/networkTable.tsx
  src/components/organization/networkTable.tsx
  src/components/shared/tableFooter.tsx
  src/pages/network/index.tsx
Labels: none

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**
