Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

Update package.json
  package.json
Labels: none

bumped nodemailer
  package-lock.json
  package.json
Labels: none

jsonwebtoken
  package-lock.json
  package.json
Labels: none

lock all version
  package.json
Labels: none

removed unused packages
  package-lock.json
  package.json
  src/components/auth/totpSetup.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/utils/fakeData.ts
Labels: none

Bumped Nodemailer and jsonwebtoken (#787)
  package-lock.json
  package.json
  src/components/auth/totpSetup.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/utils/fakeData.ts
Labels: none

lock prisma version in dockerfile
  Dockerfile
Labels: none

lock prisma version in dockerfile (#788)
  Dockerfile
Labels: none

Fix API timeout and cleanup unused parameters
  .github/workflows/main_build.yml
  src/cronTasks.ts
  src/pages/api/v1/network/[id]/index.ts
  src/pages/api/v1/network/[id]/member/index.ts
  src/pages/api/v1/network/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/networkRouter.ts
  src/utils/ztApi.ts
Labels: none

Performance optimizations for API requests (#789)
  .github/workflows/main_build.yml
  docs/docs/Rest Api/_example/NetworkExample.yml
  docs/docs/Rest Api/_schema/NetworkSchema.yml
  src/cronTasks.ts
  src/pages/api/__tests__/v1/network/networkById.test.ts
  src/pages/api/v1/network/[id]/index.ts
  src/pages/api/v1/network/[id]/member/index.ts
  src/pages/api/v1/network/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/index.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/services/memberService.ts
  src/utils/ztApi.ts
Labels: documentation

remove dotenv
  prisma.config.ts
Labels: none

bumped prisma
  package-lock.json
  package.json
Labels: none

dont copy prisma config
  .dockerignore
Labels: none

Remove dotenv from prisma (#791)
  .dockerignore
  package-lock.json
  package.json
  prisma.config.ts
Labels: none

update nodejs
  install.ztnet/bash/ztnet.sh
Labels: installer

update packages
  install.ztnet/bash/ztnet.sh
  package-lock.json
Labels: installer

DATABASE_URL
  install.ztnet/bash/ztnet.sh
Labels: installer

sequential member fetch
  src/utils/ztApi.ts
Labels: none

batch fetching zt controller
  .devcontainer/init-cmd.sh
  src/utils/ztApi.ts
Labels: none

batch
  src/utils/ztApi.ts
Labels: none

Updated standalone installer to use node v20 (#792)
  install.ztnet/bash/ztnet.sh
  package-lock.json
Labels: installer

fix build for frebsd using webpack
  docs/docs/Installation/FreeBSD.md
  package.json
Labels: documentation

comment
  docs/docs/Installation/FreeBSD.md
Labels: documentation

Fix FreeBSD support for Next.js 16 and Prisma 6.19 (#795)
  docs/docs/Installation/FreeBSD.md
  package.json
Labels: documentation

Fix API 400 errors when fetching network members (#794)
  .devcontainer/init-cmd.sh
  src/utils/ztApi.ts
Labels: none

Switch to Prisma client engine type for cross-platform compatibility
  FREEBSD_PRISMA_CHANGES.md
  package-lock.json
  package.json
  prisma/prisma.config.ts
  prisma/schema.prisma
  prisma/seed.ts
  prisma/seeds/update-user-id.ts
  prisma/seeds/user-option.seed.ts
  src/server/api/__tests__/network/getNetworkById.test.ts
  src/server/api/__tests__/network/getUserNetworks.test.ts
  src/server/api/services/organizationAuthService.ts
  src/server/db.ts
Labels: none

upgraded to prisma version 7
  package-lock.json
  package.json
  prisma/prisma.config.ts
  prisma/schema.prisma
Labels: none

udpated installer to include freebsd
  docs/docs/Installation/FreeBSD.md
  install.ztnet/bash/entrypoint.sh
  install.ztnet/bash/ztnet_debian.sh
  install.ztnet/bash/ztnet_debian_beta.sh
  install.ztnet/bash/ztnet_freebsd.sh
  install.ztnet/src/index.ts
  install.ztnet/src/routes/getBashInstaller.ts
Labels: documentation, installer

Add engineType client for FreeBSD suppor
  prisma/schema.prisma
Labels: none

PRISMA_GENERATE_SKIP_AUTOINSTALL
  package.json
Labels: none

--no-engine
  package.json
Labels: none

PRISMA_GENERATE_NO_ENGINE
  package.json
Labels: none

Remove migrations config
  package.json
  prisma/prisma.config.ts
Labels: none

pg version
  package-lock.json
  package.json
  prisma/prisma.config.ts
  prisma/schema.prisma
Labels: none

removed config
  prisma.config.ts
Labels: none

prisma
  prisma/schema.prisma
Labels: none

prisma
  prisma/schema.prisma
Labels: none

updated to version 7.1
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
Labels: none

use node user in dev
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .devcontainer/init-cmd.sh
  .devcontainer/setup-ssh.sh
  add_translations.sh
  package-lock.json
Labels: none

shared group for node and root in zerotier
  .devcontainer/docker-compose.yml
  .devcontainer/init-cmd.sh
Labels: none

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**
