Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**

Node Name column blank on load + service worker precache error (#954)
  public/service-worker.js
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
Labels: none

fix page not found
  public/service-worker.js
Labels: none

cache
  public/service-worker.js
Labels: none

Fix PWA service worker breaking navigation with a cached redirect (#955)
  public/service-worker.js
Labels: none

service worker
  public/service-worker.js
Labels: none

fix(migrations): tolerate duplicate route index
  prisma/migrations/20260629000000_routes_unique_constraint/migration.sql
  prisma/migrations/20260711100000_routes_unique_constraint/migration.sql
Labels: none

added updatedAt for user db
  prisma/migrations/20260724000000_user_updated_at/migration.sql
  prisma/schema.prisma
Labels: none

added updatedAt for user db (#963)
  prisma/migrations/20260724000000_user_updated_at/migration.sql
  prisma/schema.prisma
Labels: none

Harden webhook delivery and scope webhook updates to the organization
  src/server/api/routers/organizationRouter.ts
  src/utils/__tests__/ssrfGuard.test.ts
  src/utils/__tests__/webhook.test.ts
  src/utils/ssrfGuard.ts
  src/utils/webhook.ts
Labels: none

Normalize emails to lowercase on write and lookup
  prisma/migrations/20260804000000_lowercase_user_email/migration.sql
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/organizationAuthService.ts
  src/utils/__tests__/email.test.ts
  src/utils/email.ts
Labels: none

Self-heal legacy email casing at sign-in instead of migrating
  prisma/migrations/20260804000000_lowercase_user_email/migration.sql
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
Labels: none

Harden the new normalization call sites (Copilot review)
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/oauthProfileMapping.test.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

Close the race and case gaps in the invite and rewrite paths
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

Keep the case-insensitive scan off the sign-in hot path
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
Labels: none

Validate emails after normalizing, not before
  src/server/api/__tests__/services/emailSchema.test.ts
  src/server/api/routers/_schema.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/organizationAuthService.ts
Labels: none

Fix LIKE-wildcard injection in the case-insensitive email lookups
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/__tests__/services/userEmailLookup.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/userEmailLookup.ts
Labels: none

Await async helpers in tests, drop a dead import
  src/server/api/__tests__/services/userEmailLookup.test.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

Fail closed instead of guessing when emails differ only by casing
  src/server/api/__tests__/services/userEmailLookup.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/userEmailLookup.ts
Labels: none

Log the error class, not the raw error, on a failed rewrite
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
Labels: none

Simplify: normalize on write, migrate once, exact-match lookups
  prisma/migrations/20260805000000_lowercase_user_email/migration.sql
  src/lib/auth.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/__tests__/services/userEmailLookup.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/routers/authRouter.ts
  src/server/api/routers/mfaAuthRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/userEmailLookup.ts
Labels: none

Match pg_dump to the server's major version for backups
  Dockerfile
  src/server/api/routers/adminRoute.ts
  src/utils/__tests__/pgVersion.test.ts
  src/utils/pgVersion.ts
Labels: none

Run psql and pg_dump without a shell
  src/server/api/routers/adminRoute.ts
  src/utils/pgVersion.ts
Labels: none

include versions
  prisma/migrations/20260812000000_member_version_cache/migration.sql
  prisma/schema.prisma
  src/server/api/__tests__/services/rateLimitPartitioning.test.ts
  src/server/api/__tests__/services/reconcileNetworkMembers.test.ts
  src/server/api/services/memberService.ts
Labels: none

Return all documented member fields from the REST
  prisma/migrations/20260812000000_member_version_cache/migration.sql
  prisma/schema.prisma
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/network/[id]/member/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/index.ts
  src/server/api/__tests__/network/getNetworkMembers.test.ts
  src/server/api/__tests__/services/reconcileNetworkMembers.test.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/services/memberService.ts
Labels: none

lint
  src/server/api/__tests__/services/rateLimitPartitioning.test.ts
Labels: none

use preferred member name
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/network/[id]/member/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/server/api/__tests__/services/reconcileNetworkMembers.test.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/services/memberService.ts
Labels: none

fix: update star history chart to a working provider
  README.md
Labels: none

Restrict auth routes, lock internal user fields, and store password reset tokens in the database
  docker-compose.yml
  docs/docs/Installation/FreeBSD.md
  docs/docs/Installation/docker-compose.md
  docs/docs/Installation/options.md
  src/lib/auth.ts
  src/server/api/__tests__/services/authRouteSurface.test.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/passwordReset.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/services/passwordResetService.ts
Labels: documentation

Require a unique secret in .env.example and test real OAuth callback URLs
  .env.example
  src/server/api/__tests__/services/authRouteSurface.test.ts
Labels: none

Tighten auth surface and require a unique NEXTAUTH_SECRET (#1011)
  .env.example
  docker-compose.yml
  docs/docs/Installation/FreeBSD.md
  docs/docs/Installation/docker-compose.md
  docs/docs/Installation/options.md
  src/lib/auth.ts
  src/server/api/__tests__/services/authRouteSurface.test.ts
  src/server/api/__tests__/services/beforeHook.test.ts
  src/server/api/__tests__/services/passwordReset.test.ts
  src/server/api/__tests__/services/passwordSync.test.ts
  src/server/api/routers/authRouter.ts
  src/server/api/services/passwordResetService.ts
Labels: documentation

fix(auth): create missing UserOptions for OAuth users
  src/lib/auth.ts
  src/server/api/routers/authRouter.ts
Labels: none

dependencies update and better auth 1.7 support
  package-lock.json
  package.json
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
  src/lib/authClient.ts
  src/server/api/__tests__/services/authHooks.test.ts
  src/server/api/__tests__/services/authRouteSurface.test.ts
  src/server/api/__tests__/services/oauthConfig.test.ts
  src/server/api/__tests__/services/oauthPluginConfig.test.ts
  src/utils/mail.ts
Labels: none

audit fix
  package-lock.json
Labels: none

zod
  src/utils/apiRouteAuth.ts
Labels: none

tests
  src/pages/api/__tests__/auth/two-factor/enable.test.tsx
  src/pages/api/__tests__/auth/two-factor/setup.test.tsx
  src/server/api/__tests__/network/getNetworkById.test.ts
  src/server/api/__tests__/network/getUserNetworks.test.ts
  src/server/api/__tests__/network/networkAccessControl.test.ts
  src/server/api/__tests__/networkMembers/updateDatabaseOnly.test.ts
  src/server/api/__tests__/organization/getOrgById.test.ts
  src/server/api/__tests__/services/oauthCallbackGating.test.ts
Labels: none

Upgrade better-auth to 1.7 and nodemailer to 10, enforce OAUTH_ALLOW_NEW_USERS on OAuth sign-in (#1014)
  package-lock.json
  package.json
  src/components/auth/oauthLogin.tsx
  src/lib/auth.ts
  src/lib/authClient.ts
  src/pages/api/__tests__/auth/two-factor/enable.test.tsx
  src/pages/api/__tests__/auth/two-factor/setup.test.tsx
  src/server/api/__tests__/network/getNetworkById.test.ts
  src/server/api/__tests__/network/getUserNetworks.test.ts
  src/server/api/__tests__/network/networkAccessControl.test.ts
  src/server/api/__tests__/networkMembers/updateDatabaseOnly.test.ts
  src/server/api/__tests__/organization/getOrgById.test.ts
  src/server/api/__tests__/services/authHooks.test.ts
  src/server/api/__tests__/services/authRouteSurface.test.ts
  src/server/api/__tests__/services/oauthCallbackGating.test.ts
  src/server/api/__tests__/services/oauthConfig.test.ts
  src/server/api/__tests__/services/oauthPluginConfig.test.ts
  src/utils/apiRouteAuth.ts
  src/utils/mail.ts
Labels: none

bump packages
  docs/package-lock.json
Labels: documentation

bump packages (#1016)
  docs/package-lock.json
Labels: documentation

bump nodemailer
  install.ztnet/package-lock.json
  install.ztnet/package.json
Labels: installer

bump nodemailer (#1017)
  install.ztnet/package-lock.json
  install.ztnet/package.json
Labels: installer
