Repository sinamics/ztnet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, installer

perf(organization): count members from DB and reconcile controller in background
  src/server/api/routers/organizationRouter.ts
Labels: none

New tests
  src/server/api/__tests__/organization/getOrgById.test.ts
Labels: none

feat: add local ZeroTier controller config
  src/__tests__/components/controllerLayout.test.tsx
  src/__tests__/components/localZerotierConfig.test.tsx
  src/__tests__/components/remoteRoots.test.tsx
  src/__tests__/locales/remoteRootsTranslations.test.tsx
  src/components/adminPage/controller/localZerotierConfig.tsx
  src/components/adminPage/controller/remoteRoots.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/ua/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/admin/controller/index.tsx
  src/server/api/__tests__/services/localZerotierConfigService.test.ts
  src/server/api/routers/adminRoute.ts
  src/server/api/services/localZerotierConfigService.ts
Labels: none

allow undeleting a member
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  docs/docs/Rest Api/Personal/_source/networkMember.yml
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/_schema.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: documentation

update db and controller for node name
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: none

comments
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  docs/docs/Rest Api/Personal/_source/networkMember.yml
  src/pages/api/v1/network/[id]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
Labels: documentation

Fix: prevent modifying stashed members via API, add deleted:false restore (#932)
  docs/docs/Rest Api/Organization/_source/networkMember.yml
  docs/docs/Rest Api/Personal/_source/networkMember.yml
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/_schema.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/_schema.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
Labels: documentation

truncate ipv6
  src/components/networkByIdPage/table/memberEditCell.tsx
  src/components/networkByIdPage/table/memberHeaderColumns.tsx
Labels: none

refactor the member table
  src/components/networkByIdPage/table/deletedNetworkMembersTable.tsx
  src/components/networkByIdPage/table/memberEditCell.tsx
  src/components/networkByIdPage/table/memberHeaderColumns.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
Labels: none

refactor the member table
  src/components/networkByIdPage/table/members/DeletedMembersTable.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/cells/ActionsCell.tsx
  src/components/networkByIdPage/table/members/cells/AuthorizedCell.tsx
  src/components/networkByIdPage/table/members/cells/ConnectionStatusCell.tsx
  src/components/networkByIdPage/table/members/cells/EditableDescriptionCell.tsx
  src/components/networkByIdPage/table/members/cells/EditableNameCell.tsx
  src/components/networkByIdPage/table/members/cells/IpAssignmentsCell.tsx
  src/components/networkByIdPage/table/members/cells/PhysicalAddressCell.tsx
  src/components/networkByIdPage/table/members/components/IpBadge.tsx
  src/components/networkByIdPage/table/members/components/MembersToolbar.tsx
  src/components/networkByIdPage/table/members/constants.ts
  src/components/networkByIdPage/table/members/hooks/useTablePersistence.ts
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

stabilize columns on props and move live data to table meta
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/cells/AuthorizedCell.tsx
  src/components/networkByIdPage/table/members/cells/EditableNameCell.tsx
  src/components/networkByIdPage/table/members/cells/IpAssignmentsCell.tsx
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
Labels: none

types
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
Labels: none

Refactor network members table: responsive layout + fix IPv6 overflow & edit focus loss (#933)
  src/components/networkByIdPage/table/deletedNetworkMembersTable.tsx
  src/components/networkByIdPage/table/memberEditCell.tsx
  src/components/networkByIdPage/table/memberHeaderColumns.tsx
  src/components/networkByIdPage/table/members/DeletedMembersTable.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/cells/ActionsCell.tsx
  src/components/networkByIdPage/table/members/cells/AuthorizedCell.tsx
  src/components/networkByIdPage/table/members/cells/ConnectionStatusCell.tsx
  src/components/networkByIdPage/table/members/cells/EditableDescriptionCell.tsx
  src/components/networkByIdPage/table/members/cells/EditableNameCell.tsx
  src/components/networkByIdPage/table/members/cells/IpAssignmentsCell.tsx
  src/components/networkByIdPage/table/members/cells/PhysicalAddressCell.tsx
  src/components/networkByIdPage/table/members/components/IpBadge.tsx
  src/components/networkByIdPage/table/members/components/MembersToolbar.tsx
  src/components/networkByIdPage/table/members/constants.ts
  src/components/networkByIdPage/table/members/hooks/useTablePersistence.ts
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: none

store more data in db and sync ui
  prisma/migrations/20260626085020_member_db_cache/migration.sql
  prisma/schema.prisma
  src/__tests__/__mocks__/networkById.ts
  src/__tests__/pages/network/[id].test.tsx
  src/components/networkByIdPage/addMemberById.tsx
  src/components/networkByIdPage/memberOptionsModal.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/table/members/DeletedMembersTable.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/components/shared/tableFooter.tsx
  src/cronTasks.ts
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/index.ts
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/__tests__/network/getNetworkMembers.test.ts
  src/server/api/__tests__/services/reconcileNetworkMembers.test.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/services/memberService.ts
Labels: none

websocket manager to handle network updates
  src/__tests__/pages/network/[id].test.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/cronTasks.ts
  src/hooks/useNetworkMembersSocket.tsx
  src/pages/api/websocket/index.ts
  src/server/api/__tests__/sync/syncManager.test.ts
  src/server/api/trpc.ts
  src/server/sync/syncManager.ts
  src/utils/socketChannels.ts
Labels: none

ws auth
  src/pages/api/websocket/index.ts
Labels: none

bumped packages
  package-lock.json
  package.json
Labels: none

lint
  src/server/api/trpc.ts
Labels: none

Track the most recent subscriber
  src/server/sync/syncManager.ts
Labels: none

DB-first member sync + live WebSocket updates (#934)
  prisma/migrations/20260626085020_member_db_cache/migration.sql
  prisma/schema.prisma
  src/__tests__/__mocks__/networkById.ts
  src/__tests__/pages/network/[id].test.tsx
  src/components/networkByIdPage/addMemberById.tsx
  src/components/networkByIdPage/memberOptionsModal.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/table/members/DeletedMembersTable.tsx
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/components/shared/tableFooter.tsx
  src/cronTasks.ts
  src/hooks/useNetworkMembersSocket.tsx
  src/pages/api/__tests__/v1/networkMembers/updateMember.test.ts
  src/pages/api/v1/network/[id]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/[memberId]/index.ts
  src/pages/api/v1/org/[orgid]/network/[nwid]/member/index.ts
  src/pages/api/websocket/index.ts
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/__tests__/network/getNetworkMembers.test.ts
  src/server/api/__tests__/services/reconcileNetworkMembers.test.ts
  src/server/api/__tests__/sync/syncManager.test.ts
  src/server/api/routers/memberRouter.ts
  src/server/api/routers/networkRouter.ts
  src/server/api/services/memberService.ts
  src/server/api/trpc.ts
  src/server/sync/syncManager.ts
  src/utils/socketChannels.ts
Labels: none

bumped packages (#935)
  package-lock.json
  package.json
Labels: none

sort membercounts
  src/components/networkPage/networkTable.tsx
  src/components/organization/networkTable.tsx
Labels: none

sort membercounts (#936)
  src/components/networkPage/networkTable.tsx
  src/components/organization/networkTable.tsx
Labels: none

permissions
  .github/workflows/ci-tag.yml
  .github/workflows/docs-build-runner.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-pull-request.yml
  .github/workflows/install-ztnet.yml
  .github/workflows/main_build.yml
  .github/workflows/pull_request.yml
Labels: none

query parameter
  src/pages/api/mkworld/config.ts
  src/pages/locale-redirect.tsx
Labels: none

path traversal
  install.ztnet/src/routes/getBashInstaller.ts
  install.ztnet/src/routes/getBinary.ts
  install.ztnet/src/routes/postError.ts
Labels: installer

type
  src/pages/locale-redirect.tsx
Labels: none

fix: resolve CodeQL code-scanning alerts (#937)
  .github/workflows/ci-tag.yml
  .github/workflows/docs-build-runner.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-pull-request.yml
  .github/workflows/install-ztnet.yml
  .github/workflows/main_build.yml
  .github/workflows/pull_request.yml
  install.ztnet/src/routes/getBashInstaller.ts
  install.ztnet/src/routes/getBinary.ts
  install.ztnet/src/routes/postError.ts
  src/pages/api/mkworld/config.ts
  src/pages/locale-redirect.tsx
Labels: installer

path
  src/pages/api/mkworld/config.ts
Labels: none

lint
  src/server/api/__tests__/organization/getOrgById.test.ts
Labels: none

perf(organization): load org page from DB and reconcile controller in background (#919)
  src/server/api/__tests__/organization/getOrgById.test.ts
  src/server/api/routers/organizationRouter.ts
Labels: none

backup restore
  docs/docs/Usage/backup-restore.md
Labels: documentation

fix ip sorting
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/server/api/routers/networkRouter.ts
Labels: none

fix ip sorting (#939)
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/networkByIdPage/table/members/useMemberColumns.tsx
  src/server/api/routers/networkRouter.ts
Labels: none

reduce the terminal notifications when node joins
  src/server/api/services/memberService.ts
  src/utils/organizationNotifications.ts
Labels: none

number of rows in table
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/shared/tableFooter.tsx
Labels: none

fix(members): "show all" pagination (#940)
  src/components/networkByIdPage/table/members/NetworkMembersTable.tsx
  src/components/shared/tableFooter.tsx
  src/server/api/services/memberService.ts
  src/utils/organizationNotifications.ts
Labels: none

removed dead code
  src/pages/api/auth/user/invalidateUser.ts
Labels: none

removed dead code (#941)
  src/pages/api/auth/user/invalidateUser.ts
Labels: none

docs
  docs/docs/Installation/reverse-proxy.md
Labels: documentation

.github/labeler.yml:

# Add 'ztnet' label to any file changes within 'root' EXCEPT for the docs and install sub-folder
ztnet:
- all:
  - changed-files:
    - any-glob-to-any-file: '**'
    - all-globs-to-all-files: ['!docs/*', '!install.ztnet/*']

# Add 'Documentation' label to any file changes within 'docs' folders
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

# Add 'installer' label to any file changes within 'install.ztnet' folders
installer:
- changed-files:
  - any-glob-to-any-file:
    - install.ztnet/**
