Repository sinamics/ztnet, pull requests merged in 2024-12, with the labels that each got.

#591 fix: Correct the reboot command on Windows
  docs/docs/Usage/private_root.md
Labels: documentation, ztnet

#592 Update zerotier to 1.14.2
  .devcontainer/docker-compose.yml
  docker-compose.yml
  docs/docs/Installation/docker-compose.md
  docs/docs/Usage/migrate.md
Labels: documentation, ztnet

#601 Updated docs for keycloak oauth
  docs/docs/Authentication/oauth.md
Labels: documentation, ztnet

#599 Fix missing translations
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
Labels: ztnet

#604 Added email verification icon and lastseen to admin user-table.
  src/components/adminPage/users/table/accounts.tsx
  src/components/elements/inputField.tsx
  src/icons/verified.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
Labels: ztnet

#606 Update common.json
  src/components/adminPage/users/table/accounts.tsx
  src/locales/pl/common.json
Labels: ztnet

#607 Improved global node naming
  src/server/api/routers/memberRouter.ts
  src/server/api/services/memberService.ts
Labels: ztnet

#613 Use sparse checkout during installation
  install.ztnet/bash/ztnet.sh
  next.config.mjs
  package-lock.json
  package.json
Labels: ztnet, installer

#617 Added new table layout and notes for Managed Routes.
  prisma/migrations/20241227084426_routes_table/migration.sql
  prisma/schema.prisma
  src/__tests__/pages/network/[id].test.tsx
  src/components/elements/input.tsx
  src/components/elements/textarea.tsx
  src/components/networkByIdPage/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/collumns.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutes.tsx
  src/components/networkByIdPage/networkRoutes/networkRoutesTable.tsx
  src/components/networkByIdPage/networkRoutes/routesEditCell.tsx
  src/components/networkByIdPage/table/networkMembersTable.tsx
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/no/common.json
  src/locales/pl/common.json
  src/locales/ru/common.json
  src/locales/zh-tw/common.json
  src/locales/zh/common.json
  src/pages/central/[id].tsx
  src/pages/network/[id].tsx
  src/pages/organization/[orgid]/[id].tsx
  src/server/api/routers/networkRouter.ts
  src/server/api/routers/organizationRouter.ts
  src/server/api/services/networkService.ts
  src/server/api/services/routesService.ts
  src/types/local/network.d.ts
Labels: ztnet

#618 Updated Polish translations
  src/locales/pl/common.json
Labels: ztnet

#620 Added info for custom root and mobile limitation
  docs/docs/Usage/private_root.md
Labels: documentation, ztnet
